---
layout: default
---
<style type="text/css">
h2 {
	margin-bottom: 0;
}
</style>
<div class="home">

  <h1>Posts</h1>
  
  {{ content }}

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
		<span>		
			tags: {{ post | tags }}	
		</span>
      </li>
    {% endfor %}
  </ul>

  <h2 class="heading">Tags</h2>
  <div>
  {{site | tag_cloud }}
  <div>
</div>
